{%extends "layout/base.html" %}

{% block title %}
Instructors
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='instructors.css') }}">
{% endblock %}

{%block content%}
<div class="container" id="datapage-con">
    <div class="row">
        <div class="col-md-auto" id="instructors-text">
            Instructors
        </div>
        <div class="col-md-auto align-self-end">
            <button id="new-button" class="btn btn-warning" onclick="location.href='{{ url_for('addInstructor') }}'" type="button">Add new instructor</button>
        </div>
    </div>
    <div>
        <table id="instructors-table" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                <tr>
                    <td>{{instructor.name}}</td>
                    <td>{{instructor.specialty}}</td>
                    <td>
                        <a href="/instructors/{{ instructor.id }}/edit"><span class="material-icons icon">create</span></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal{{instructor.id}}" href="#"><span class="material-icons icon">delete</span></a>
                        <div class="modal fade" id="deleteModal{{instructor.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Instructor</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          Are you sure you want to delete this instructor?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button onclick="location.href='{{ url_for('deleteInstructor', id=instructor.id ) }}'" type="button" class="btn btn-danger">Delete</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
    $('#instructors-table').DataTable({
    });
});
</script>
{% endblock %}