#datapage-con {
    margin-top: 1%;
}

#options-text {
    font-size: 150%;
}

#options {
    font-size: 150%;
}

#worktime-text {
    font-size: 450%;
    font-weight: bold;
    margin-left: 35%;
}

.icon {
    padding-left: 23%;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

#new-button {
    width: 100%;
    margin-left: 188%;
    margin-bottom: 5%;
}